* {
  margin: 0;
  padding: 0;
  background-color: rgb(54, 54, 54);

  color: white;
  box-sizing: border-box;


}


ul {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, rgb(255, 0, 157), purple);
  padding: 0;
}

li {
  list-style: none;
  display: inline-block;
  margin: 5px 5px 0 5px;
}

.NavBar a {
  font-size: 20px;

  display: block;
  text-decoration: none;
  padding: 5px;
  border-bottom: 4px solid rgb(255, 0, 157);
}